.container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    /* display: flex; */
    text-align: center;
}

.second-content {
    color: red;
}

/* #second-p-tag {
    color:orange;
} */

/* .content p:last-child {
    color: green;
} */